[mortar]
email: ${email}
api_key: ${api_key}

[s3]
aws_access_key_id: ${aws_access_key_id}
aws_secret_access_key: ${aws_secret_access_key}

[mongodb]
mongo_conn: ${mongo_conn}
mongo_db: ${mongo_db}
mongo_input_collection: ${mongo_input_collection}
